
body {
    margin: 0 ;
}



/* importent things */
.header {
    background-color: lightgray ;
    height: 55px ;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    flex-direction: row;

    margin-bottom: 50px ;
    justify-content: space-between;
}
.left-section {
    flex: 1;
    background-color: lightblue;
    max-width: 200px ;
    text-align: center;
}
.middle-section {
    flex: 2;
    background-color: lightgreen;
    margin-left: 50px ;
    margin-right: 35px ;
    text-align: center;
    max-width: 600px ;
}
.home {
    font-size: 15px ;
    padding: 4px ;
}

.search-bar {
    font-size: 15px ;
    padding: 10px 15px ;
    border-radius: 30px  ;
    border: none ;
    width: 400px ;
    margin-top: 5px ;
    margin: 6px 10px ;
}
.right-section {
    flex: 1 ;
    max-width: 350px ;
    background-color: lightcoral;
    display: flex;
}
.right-btn {
    padding: 7px 12px ;
    max-height: 35px ;
    max-width: 150px ;
    flex: 1;
    margin-left: 5px ;
    margin-top: 8px ;
}


.ex1-div {
    margin-bottom: 50px ;
    background-color: lightgray;
    padding: 5px ;

    display: flex;
    flex-direction: row;
    border-radius: 5px ;
}
.div1-1 {
    background-color: lightgoldenrodyellow;
    margin-left: 5px ;
    flex: 1 ;
    border-radius: 6px ;
    padding: 7px 10px  ;
}
.div1-2 {
    background-color: lightgreen;
    margin-left: 5px ;
    flex: 1 ;
    border-radius: 6px ;
    padding: 7px 10px  ;
}
.div1-3 {
    background-color: lightskyblue;
    margin-left: 5px ;
    flex: 1 ;
    border-radius: 6px ;
    padding: 7px 10px  ;
}


.ex2-div {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
    margin-bottom: 50px ;
    max-width: 800px ;
    display: flex;
    flex-direction: column ;
    padding: 10px ;
    border-radius: 5px ;
    justify-content: space-between;
}
.div2-1 {
    background-color: lightgoldenrodyellow;
    margin-left: 5px ;
    margin-bottom: 5px ;
    flex: 1 ;
    border-radius: 6px ;
    padding: 7px 10px  ;
}
.div2-2 {
    background-color: lightgreen;
    margin-left: 5px ;
    margin-bottom: 5px ;
    flex: 1 ;
    border-radius: 6px ;
    padding: 7px 10px  ;
}
.div2-3 {
    background-color: lightskyblue;
    margin-left: 5px ;
    margin-bottom: 5px ;
    flex: 1 ;
    border-radius: 6px ;
    padding: 7px 10px  ;
}